.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

/* Video section */

.result {
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
}

.result__video {
  min-width: 100%;
}

/* Search Form */

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__fieldset-title {
  font-size: 18px;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.search-form__checkbox[type='checkbox']+.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid white;
}

.search-form__checkbox[type='checkbox']:checked+.search-form__pseudo-checkbox {
  background-color: white;
  box-shadow: 0px 0px 0px 10px black inset;
}

.search-form__checkbox[type='checkbox']:focus-visible+.search-form__pseudo-checkbox {
  background-color: black;
  border: 1px solid white;
}

.search-form__submit-button {
  background-color: black;
  border: 1px solid black;
  width: 194px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* List section */

.content__details {
  max-height: 408px;
  max-width: 399px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

/* Cards */

.content__list-item {
  height: 103px;
  width: 100px;
  ;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}